# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.env/
env/

# Datasets and outputs
data/
*.pth
*.json
*.png

# Jupyter
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Miscellaneous
*.log
*.bak